{% extends 'layout.html' %}

{% block title %}
History
{% endblock %}

{% block main %}
<table class="table">
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Shares</th>
        <th scope="col">Price</th>
        <th scope="col">Transacted</th>
      </tr>

      {% for value in data %}
      <tr>
          <td>{{ value["symbol"] }}</td>
          <td>{{ value["shares"] }}</td>
          <td>{{ value["price"] }}</td>
          <td>{{ value["transacted"] }}</td>
      </tr>
      {% endfor %}
  </table>
{% endblock %}