{% extends 'layout.html' %}

{% block title %}
Quote
{% endblock %}

{% block main %}

{% if quote == None %}
    <form action="/quote" method="POST">
       <div class="form-group">
        <input type="text" name="symbol" id="symbol" placeholder="Symbol" class="form-control">
       </div>
       <button type="submit" class="btn btn-primary">Quote</button>
    </form>
{% else %}
    <p>A share of {{ quote["name"] }}, Inc. ({{ quote["symbol"] }}) costs ${{ quote["price"] }}.</p>
{% endif %}

{% endblock %}